tbcprod_compare/force-app/main/default/flows/IntimeSyncItemBeforeInsertUpdateAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetIntimeFieldsForQueued</name>
        <label>Set Intime Fields For Queued</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RetryCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetIntimeFieldsForRetry</name>
        <label>Set Intime Fields For Retry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ErrorMessage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Maximum retry attempt reached. Please check the apex logs.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>StatusChangedDecision</name>
        <label>Status Changed Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queued</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIntimeFieldsForQueued</targetReference>
            </connector>
            <label>Queued</label>
        </rules>
        <rules>
            <name>RetryCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RetryCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetIntimeSetting.MaximumRetryLimit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIntimeFieldsForRetry</targetReference>
            </connector>
            <label>Retry Count</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Intime Sync Item Before Insert Update Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intime Sync Item Before Insert Update Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetIntimeSetting</name>
        <label>Get Intime Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusChangedDecision</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InTimeSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetIntimeSetting</targetReference>
        </connector>
        <object>InTimeSyncItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
