tbcprod_compare/force-app/main/default/flows/X1218_Employee_Request_Block_duplicate_holiday_requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <collectionProcessors>
        <name>filterOutCurrentRecord</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterOutCurrentRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_filterOutCurrentRecord</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetMatchingRequestsForDay</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterOutCurrentRecord.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>HasMatchedOtherRecords</targetReference>
        </connector>
    </collectionProcessors>
    <customErrors>
        <name>DuplicateEmployeeRequestMessage</name>
        <label>DuplicateEmployeeRequestMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>There is already an employee request for this date.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>HasMatchedOtherRecords</name>
        <label>HasMatchedOtherRecords?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundDuplicates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterOutCurrentRecord</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateEmployeeRequestMessage</targetReference>
            </connector>
            <label>FoundDuplicates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 - Employee Request - Block duplicate holiday requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Employee Request - Block duplicate holiday requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMatchingRequestsForDay</name>
        <label>GetMatchingRequestsForDay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>filterOutCurrentRecord</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 5 AND (3 OR 4)</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Local_Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Local_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Holiday</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid Holiday</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Rejected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMatchingRequestsForDay</targetReference>
        </connector>
        <filterFormula>AND(OR(ISNEW(), ISCHANGED({!$Record.sirenum__Local_Start_Date__c}), ISCHANGED({!$Record.sirenum__Type__c})), CONTAINS(TEXT({!$Record.sirenum__Type__c}),&apos;Holiday&apos;), NOT({!$Record.sirenum__Rejected__c}))</filterFormula>
        <object>sirenum__Employee_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filterOutCurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
</Flow>
