tbcprod_compare/force-app/main/default/flows/X1218_Assignment_on_create_set_default_rates_from_contract_and_role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>buildOutputText</name>
        <label>buildOutputText</label>
        <locationX>270</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>RatesText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rateLineConsolidation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RatesText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hasSetStandardRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>removeFinalDelimiterFromText</name>
        <label>removeFinalDelimiterFromText</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>RatesText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ratesTextWithoutDelimiter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Rate_on_assignment_based_on_rate_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDefaultRates</name>
        <label>setDefaultRates</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>chargeRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_to_build_output_text.sirenum__Charge_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>payRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_to_build_output_text.sirenum__Pay_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_build_output_text</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Has_Rate_card</name>
        <label>Contract Has Rate card?</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>SetPayDetailsNeedReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_valid_rate_card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.sirenum__Rate_Card__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Type_Team</targetReference>
            </connector>
            <label>Yes Has valid rate card</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_matching_Rate_Card_Page</name>
        <label>Found matching Rate Card Page?</label>
        <locationX>336</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>SetPayDetailsNeedReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rate_card_page_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rate_Card_Page.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rate_line_for_Normal_rate</targetReference>
            </connector>
            <label>Yes Rate card page found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_normal_rate_for_rate_card</name>
        <label>Found &quot;normal&quot; rate for rate card?</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>SetPayDetailsNeedReview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_rate_line_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rate_line_for_Normal_rate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_to_build_output_text</targetReference>
            </connector>
            <label>Yes, rate line found</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasSetStandardRates</name>
        <label>hasSetStandardRates?</label>
        <locationX>270</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>loop_to_build_output_text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotSetRates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>payRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>chargeRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDefaultRates</targetReference>
            </connector>
            <label>NotSetRates</label>
        </rules>
    </decisions>
    <description>Sets the Pay rate and Bill rate on the assignment based upon the related rate card line found for the contract and job role combination</description>
    <environments>Default</environments>
    <formulas>
        <name>rateLineConsolidation</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!loop_to_build_output_text.sirenum__Day_Type__c},&quot;Anyday&quot;), &quot;&quot;, TEXT({!loop_to_build_output_text.sirenum__Day_Type__c})&amp;&quot; &quot;) &amp; IF(AND({!loop_to_build_output_text.Start_Hour_String__c} = &quot;00:00&quot;,  {!loop_to_build_output_text.End_Hour_String__c} = &quot;00:00&quot; ), &quot;&quot;,  {!loop_to_build_output_text.Start_Hour_String__c} &amp; &quot; - &quot; &amp; {!loop_to_build_output_text.End_Hour_String__c}) &amp; &quot; Standard Rate: £&quot;&amp; text(floor({!loop_to_build_output_text.sirenum__Pay_Rate__c})) &amp;&quot;.&quot;&amp; lpad(text(({!loop_to_build_output_text.sirenum__Pay_Rate__c}-floor({!loop_to_build_output_text.sirenum__Pay_Rate__c}))*100),2,&quot;0&quot;)  &amp; IF(ISBLANK({!loop_to_build_output_text.sirenum__Overtime_Pay_Rate__c}), &quot;&quot;,  &quot; OT (£&quot;&amp;text(floor({!loop_to_build_output_text.sirenum__Overtime_Pay_Rate__c})) &amp;&quot;.&quot;&amp; lpad(text(({!loop_to_build_output_text.sirenum__Overtime_Pay_Rate__c}-floor({!loop_to_build_output_text.sirenum__Overtime_Pay_Rate__c}))*100),2,&quot;0&quot;)&amp;&quot;)&quot;  )&amp; IF(ISBLANK({!loop_to_build_output_text.sirenum__Overtime_2x_Pay_Rate__c}), &quot;&quot;,&quot; DT (£&quot;&amp;text(floor({!loop_to_build_output_text.sirenum__Overtime_2x_Pay_Rate__c})) &amp;&quot;.&quot;&amp; lpad(text(({!loop_to_build_output_text.sirenum__Overtime_2x_Pay_Rate__c}-floor({!loop_to_build_output_text.sirenum__Overtime_2x_Pay_Rate__c}))*100),2,&quot;0&quot;) &amp;&quot;)&quot;  )</expression>
    </formulas>
    <formulas>
        <name>ratesTextWithoutDelimiter</name>
        <dataType>String</dataType>
        <expression>LEFT({!RatesText},LEN({!RatesText})-5)</expression>
    </formulas>
    <interviewLabel>1218 - Assignment on create set default rates from contract and role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Assignment on create set default rates from contract and role</label>
    <loops>
        <name>loop_to_build_output_text</name>
        <label>loop to build output text</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Rate_line_for_Normal_rate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>buildOutputText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>removeFinalDelimiterFromText</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the contract from the placement to then get the related rate card record.</description>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Has_Rate_card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the related Job Type record to use the Name field in the subsequent query.</description>
        <name>Get_Job_Type_Team</name>
        <label>Get Job Type (Team)</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rate_Card_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Job_Role__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Rate Card Page which meets the criteria based upon the matching Job Role.Name (must also meet the condition criteria which matches this too, see filter conditions)</description>
        <name>Get_Rate_Card_Page</name>
        <label>Get Rate Card Page</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_matching_Rate_Card_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Card__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.sirenum__Rate_Card__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Condition_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Job_Role_Name__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Condition_Operator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equal to</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Condition_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Type_Team.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Rate_Card_Page__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the rate card line items for this rate card page</description>
        <name>Get_Rate_line_for_Normal_rate</name>
        <label>Get Rate line for Normal rate</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_normal_rate_for_rate_card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Rate_Card_Page__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rate_Card_Page.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Rate_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Rate_on_assignment_based_on_rate_line</name>
        <label>Set Rate on assignment based on rate line</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>Pay_Rate_Details__c</field>
            <value>
                <elementReference>RatesText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalculate_Rates__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Charge_Rate__c</field>
            <value>
                <elementReference>chargeRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Pay_rate__c</field>
            <value>
                <elementReference>payRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPayDetailsNeedReview</name>
        <label>SetPayDetailsNeedReview</label>
        <locationX>501</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>Pay_Details_need_review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalculate_Rates__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterFormula>OR(AND({!$Record.Recalculate_Rates__c}, {!$Record.Recalculate_Rates__c} != {!$Record__Prior.Recalculate_Rates__c}), ISNEW())</filterFormula>
        <object>sirenum__Placement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>chargeRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>payRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RatesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
