tbcprod_compare/force-app/main/default/flows/X1218_Session_Unique_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_for_Dup</name>
        <label>Error for Dup</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>Dear TBC User. Please note that a Session with the same name is already present. Please revisit the naming convention before saving again!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>Error Msg</description>
    <environments>Default</environments>
    <interviewLabel>1218 - Session Unique Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 - Session Unique Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Unique_Name</name>
        <label>Unique Name</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Error_for_Dup</targetReference>
        </connector>
        <inputAssignments>
            <field>Unique_Session_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unique_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>b3o__Session__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
