tbcprod_compare/force-app/main/default/flows/X1218ExpenseAfterUpdateAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetIntimeSyncItemFIelds</name>
        <label>Set Intime Sync Item FIelds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_IntimeSyncItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IntimeSyncItem.Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_IntimeSyncItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Salesforce To Intime Expense Revert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateIntimeSyncItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SendItToIntimeDecision</name>
        <label>Send It To Intime Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SendItToIntime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SendToIntime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SendToIntime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetIntimeSyncItemFIelds</targetReference>
            </connector>
            <label>Send It To Intime</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>1218 Expense After Update Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1218 Expense After Update Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateIntimeSyncItem</name>
        <label>Create Intime Sync Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_IntimeSyncItem</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SendItToIntimeDecision</targetReference>
        </connector>
        <object>sirenum__Expense__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_IntimeSyncItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InTimeSyncItem__c</objectType>
    </variables>
</Flow>
